attrs
Automat
certifi
charset-normalizer
constantly
hyperlink
idna
PyQt5
PyQt5-Qt5
PyQt5-sip
pytarallo
python-dotenv
requests
six
Twisted
typing_extensions
urllib3
zope.interface
python-daemon
qt5reactor
