QMainWindow {
    background-color: rgb(88, 88, 88);
}

QPushButton {
    background-color: rgba(255, 255, 0, 255);
}

QTabWidget {
    background-color: rgba(255, 255, 255, 0);
}

Qlabel {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

QTabBar {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

QFrame {
    background-color: rgba(255, 255, 255, 0);
}

QGroupBox {
    background-color: rgba(199, 199, 199, 100);
}

QRadioButton {
    color: rgb(255, 255, 255);
}

QLineEdit {
    background-color: rgba(199, 199, 199, 120);
    color: rgb(255, 255, 0);
    border-color: rgb(188, 188, 188);
}

QMessageBox {
    background-color: rgb(88, 88, 88);
}

QComboBox {
    background-color: rgba(255, 255, 0, 255);
}

QProgressBar {
    color: rgb(255, 255, 255);
}

QListWidget {
    background-color: rgba(199, 199, 199, 120);
}

QTableWidgetItem {
    background-color: rgb(49, 52, 59);
}

QHeaderView::section {
    background-color: rgba(255, 255, 255, 100);
}

QScrollBar::vertical {
    background-color: rgba(255, 255, 255, 0);
}
