QMainWindow {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QPushButton {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTabWidget {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTableWidget {
    background-color: rgb(49, 52, 59);
    alternate-background-color: rgb(82, 87, 99);
    color: rgb(255, 255, 255);
}

Qlabel {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTabBar {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTableView {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QFrame {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QGroupBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QRadioButton {
    color: white;
}

QRadioButton::indicator {
    width: 13px;
    height: 13px;
}

QRadioButton::indicator::unchecked {
    image: url(assets/radio/radio_unckd.png);
}

QRadioButton::indicator::checked {
    image: url(assets/radio/radio_ckd.png);
}

QLineEdit {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QMessageBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QDialog {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QComboBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QProgressBar {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    min-height: 10px;
    max-height: 15px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}

QStatusBar {
    color: white;
}

QScrollBar:horizontal {
    border: 2px solid grey;
    background: #32CC99;
    height: 15px;
    margin: 0px 20px 0 20px;
}

QScrollBar::handle:horizontal {
    background: white;
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    border: 2px solid grey;
    background: #32CC99;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 2px solid grey;
    background: #32CC99;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar:vertical {
    border: 2px solid grey;
    width: 15px;
    margin: 22px 0 22px 0;
}

QScrollBar::handle:vertical {
    background: white;
    min-height: 20px;
}

QScrollBar::add-line:vertical {
    border: 2px solid grey;
    background: #32CC99;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid grey;
    background: #32CC99;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

