QMainWindow {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QPushButton {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTabWidget {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTableWidget {
    background-color: rgb(49, 52, 59);
    alternate-background-color: rgb(82, 87, 99);
    color: rgb(255, 255, 255);
}

Qlabel {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTabBar {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTableView {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QFrame {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QGroupBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QRadioButton {
    color: white;
}

QLineEdit {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QMessageBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QDialog {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QComboBox {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QProgressBar {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid grey;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    min-height: 10px;
    max-height: 15px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    min-width: 1px;
    max-width: 1px;
}

QStatusBar {
    color: white;
}