QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    min-height: 10px;
    max-height: 15px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    min-width: 1px;
    max-width: 1px;
}