QComboBox {
    background-color: rgba(77, 222, 182, 110);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(77, 222, 182, 255);
    border-radius: 2px;
}

QFrame {
    background-color: rgba(255, 255, 255, 0);
}

QGroupBox {
    background-color: rgba(206, 206, 206, 120);
    border-radius: 2px;
    padding: 20px 3px 3px 3px;
}

QHeaderView {
    background-color: transparent;
    border: none;
}

QHeaderView::section {
    background-color: transparent;
    border: none;
}

QLabel {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

QLineEdit {
    background-color: rgba(238, 176, 255, 120);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QListWidget {
    background-color: rgba(238, 176, 255, 120);
}

QMessageBox {
    background-color: rgba(238, 176, 255, 120);
    color: rgb(255, 255, 255);
    border-color: rgb(188, 188, 188);
}

QPushButton {
    background-color: rgba(77, 222, 182, 110);
    color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 1px solid rgb(77, 222, 182);
}

QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    color: rgb(3, 202, 252);
    min-height: 10px;
    max-height: 15px;
    background-color: transparent;
}

QProgressBar::chunk {
    background-color: #eb3495;
    max-width: 1px;
}

QRadioButton {
    color: rgb(255, 255, 255);
}

QTabBar::tab {
    background-color: rgba(255, 255, 255, 0);
}

QTabBar::tab:selected {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 50);
    border-top: 2px solid dodgerblue;
    border-bottom-color: rgba(0, 0, 0, 0); /* same as the pane color */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0px 10px 0px 10px;
    margin-top: 2px;
}

QTabBar::tab:hover {
    background-color: rgba(255, 255, 255, 50);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 2px;
}

QTabWidget {
    background-color: transparent;
    border: solid white;
}

QTabWidget::pane {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 50);
    border-radius: 2px;
}

QTableCornerButton {
    background-color: transparent;
}

QTableView {
    background-color: rgb(49, 52, 59);
    color: rgb(255, 255, 255);
}

QTableWidget {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

QTableWidgetItem {
    background-color: rgb(49, 52, 59);
}

QTextEdit {
    background-color: rgba(255, 255, 255, 100);
    color: white;
}