QMainWindow {
    background-color: #3c3d3b;
}

QComboBox {
    background-color: #00983a;
    color: #3c3d3b;
}

QFrame {
    background-color: rgba(255, 255, 255, 0);
}

QGroupBox {
    background-color: rgba(199, 199, 199, 100);
}

QHeaderView {
    background-color: transparent;
    border: none;
}

QHeaderView::section {
    background-color: rgba(255, 255, 255, 0);
    color: #00983a;
    font-weight: bold;
    border: none;
}

QLabel {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

QLineEdit {
    background-color: rgba(199, 199, 199, 120);
    color: black;
    border-color: rgb(188, 188, 188);
}

QListWidget {
    background-color: rgba(199, 199, 199, 120);
}

QMessageBox {
    background-color: rgb(88, 88, 88);
}

QPushButton {
    background-color: #00983a;
    color: #3c3d3b;
}

QProgressBar {
    color: rgb(255, 255, 255);
}

QRadioButton {
    color: rgb(255, 255, 255);
}

QTabBar::tab {
    background-color: rgba(255, 255, 255, 0);
}

QTabBar::tab:selected {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 50);
    border-top: 2px solid #00983a;
    border-bottom-color: rgba(0, 0, 0, 0); /* same as the pane color */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 0px 10px 0px 10px;
    margin-top: 2px;
}

QTabBar::tab:hover {
    background-color: rgba(255, 255, 255, 50);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 2px;
}

QTabWidget {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

QTabWidget::pane {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

QTableWidgetItem {
    background-color: rgb(49, 52, 59);
}

QScrollBar::vertical {
    background-color: rgba(255, 255, 255, 0);
}
